<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin  name="BioPortal import plugin for Desktop Protege" version="0.1.0">
   <!--<extension id="BioportalViewComponent"
              point="org.protege.editor.core.application.ViewComponent">
      <label value="Bioportal Search and Extract"/>
      <class value="de.leipzig.imise.bioportal.BioportalViewComponent"/>
      <category value="@org.protege.ontologycategory"/>
   </extension>-->
   
   <!--<extension id="BioportalImportClassHierarchyViewComponent"
              point="org.protege.editor.core.application.ViewComponent">
      <label value="Class Hierarchy and Bioportal Import"/>
      <class value="de.leipzig.imise.bioportal.Plugin"/>
      <category value="@org.protege.classcategory"/>
   </extension>-->
   
   <extension id="bioportal.prefs"
               point="org.protege.editor.core.application.preferencespanel">
        	<label value="Bioportal"/>
        <class value="de.leipzig.imise.bioportal.BioportalPreferencesPanel"/>
    </extension>

   <extension id="context.edit.duplicate"
              point="org.protege.editor.core.application.EditorKitMenuAction">
      <name value="Import from BioPortal..."/>
      <class value="de.leipzig.imise.bioportal.ImportFromBioPortalAction"/>
      <toolTip value="Imports data from BioPortal. This adds the imported classes as a subclass of the selected class."/>
      <path value="[AssertedClassHierarchy]/SlotC-G"/>
      <editorKitId value="OWLEditorKit"/>
      <accelerator value="shift B"/>
   </extension>
</plugin>
